@model IEnumerable<CloudTrain.Models.CarriageViewModel>

@{
    ViewBag.Title = "ShowCarriages";
}

<h2>ShowCarriages</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsUsed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsUsed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCarriage", new { id = item.Id }) |
            @Html.ActionLink("Add Carriage to Train", "AppointCarriageToTrain" ,"Logistician",  new { id = item.Id } , null) |
            @Html.ActionLink("Delete", "DeleteCarriage", new { id = item.Id })
        </td>
    </tr>
}

</table>
