@model IEnumerable<CloudTrain.Models.RouteViewModel>

@{
    ViewBag.Title = "ShowRoutes";
}

<h2>ShowRoutes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoupeFare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservedSeatFare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneralFare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrainId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoupeFare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservedSeatFare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneralFare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrainId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "CreateRouteStation", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
