
@model IEnumerable<CloudTrain.Models.RouteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Список маршрутов</h2>



@Html.ActionLink("Создать маршрут", "MakeRoute", "Home")


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoupeFare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservedSeatFare)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneralFare)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Description)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.CoupeFare)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.ReservedSeatFare)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.GeneralFare)
            </th>

        </tr>
    }

</table>



